* {
    box-sizing : border-box;
}

body {
    font-family             : "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, sans-serif;
    font-size               : 14px;
    background-color        : #eee;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.wrap {
    width  : 1140px;
    margin : 0 auto;
}

.layout-header {
    background-color : #fff;
    height: 40px;
    line-height: 40px;
}

.main-logo h1{
    margin: 0 20px;
}

.pure-u-1-8 a{
    margin-right: 10px;
    cursor: pointer;
}

.pure-form input{
    width: 250px;
}

.pure-button{
    margin-left: -8px;
    height: 30px;
}


.layout-footer {
    height: 50px;
    background-color: #fff;
}



.pt-10 {
    padding-top : 10px;
}

.pt-20 {
    padding-top : 20px;
}

.page {
    margin-top: 52px;
}

.tit-mid{
    font-size: 16px;
    font-weight: bolder;
}