.user-main{
    border-bottom: 1px solid #ccc;
}
.user-main .data-box{
    margin: 50px 150px;
}
.data-box .head-edit{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background:url("/images/head.jpg");
    text-align: center;
    line-height: 300px;
}
.data-box .name-edit{
    margin-left: 50px;
}
.data-box .name-edit span{
    font-size: 50px;
    color: #666;
    display: block;
    margin-top: 120px;
}
.data-box .name-edit .update-name{
    width: 300px;
    height: 40px;
    border-radius: 3px;
    border:1px solid #ccc;
    padding-left: 10px;
    color: #666;
}

.data-box .name-edit .update-confirm{
    height: 40px;
    width: 60px;
    margin-left: -2px;
    border: 1px solid #ccc;
    color: #fff;
}
.user-footer{
    overflow: hidden;
}
.user-nav{
    height: 50px;
    margin-left: -16px;
}
.user-nav .nav{
    float: left;
    width: 100px;
    text-align: center;
    border-left: 1px solid #ccc;
    margin-top:10px;
    color: #666;
    cursor: pointer;
}
