<div class="page-user">
    <div class="wrap user-main">
        <div class="data-box clearfix">
            <div class="head-edit f_l">
                <img src="/images/head.jpg">

            </div>
            <a class="head-edit-txt">点击更换头像</a>
            <div class="name-edit f_l">
                <span>name</span><br/>
                <input class="update-name f_l" placeholder="修改昵称">
                <button class="update-confirm f_l">ok</button>
            </div>
        </div>
    </div>
    <div class="wrap user-footer">
        <div class="user-nav">
            <div class="nav" style="font-weight:bolder">个人资料</div>
            <div class="nav">我的游记</div>
        </div>
        <div class="user-body">
            <div class="user-txt nav-cont active">
                <form class="pure-form pure-form-aligned">
                    <fieldset>

                        <div class="pure-control-group">
                            <label for="email">您的邮箱</label>
                            <input id="email" type="email" placeholder="请输入邮箱">
                        </div>

                        <div class="pure-control-group">
                            <label for="foo">您的学校</label>
                            <input id="foo" type="text" placeholder="请输入学校名">
                        </div>



                        <div class="pure-controls">

                            <button type="submit" class="pure-button pure-button-warning" style="margin-left: 4px;">提交</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="user-article nav-cont">
                <div class="article-line">
                    <i class="fa fa-book fa-2x">&nbsp;</i><a>今年说什么也要去一次日本</a>
                </div>
                <div class="article-line">
                    <i class="fa fa-book fa-2x">&nbsp;</i><a>今年说什么也要去一次日本</a>
                </div>
                <div class="article-line">
                    <i class="fa fa-book fa-2x">&nbsp;</i><a>今年说什么也要去一次日本</a>
                </div>
            </div>
        </div>
    </div>
</div>