<div class="page-user">
    <div class="wrap user-main">
        <div class="data-box clearfix">
            <div class="head-edit f_l">
            </div>
            <div class="name-edit f_l">
                <span>name</span><br/>
                <input class="update-name f_l" placeholder="修改昵称">
                <button class="update-confirm f_l">ok</button>
            </div>
        </div>
    </div>
    <div class="wrap user-footer">
        <div class="user-nav">
            <div class="nav">个人资料</div>
            <div class="nav">我的游记</div>
        </div>
    </div>
</div>