<div class="page-user" id="page_user">
    <div class="wrap user-main">
        <div class="data-box clearfix">
            <div class="head-edit f_l">
                <img v-attr="src: the_user.img">
            </div>
            <a class="head-edit-txt" v-on="click: doUploadHead()">点击更换头像</a>
            <input type="file" id="head_logo" style="display: none;" v-on="change: onHeadSelected()">
            <div class="name-edit f_l">
                <span>{{ the_user.name }}</span><br/>
                <input class="update-name f_l" placeholder="修改昵称" v-model="user.name">
                <button class="update-confirm f_l" v-on="click: changeHead()">ok</button>
                <div></div>
            </div>
        </div>
    </div>
    <div class="wrap user-footer">
        <div class="user-nav">
            <div class="nav" v-class="active: current_tab == 'user_info'"
                 v-on="click: switchTab('user_info')">个人资料
            </div>
            <div class="nav" v-class="active: current_tab == 'my_article'"
                 v-on="click: switchTab('my_article')">我的游记
            </div>
            <div class="nav" v-class="active: current_tab == 'change_pwd'"
                 v-on="click: switchTab('change_pwd')">修改密码
            </div>
        </div>
        <div class="user-body">
            <div class="user-txt nav-cont active">
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group txt-line">
                            <label for="email">您的邮箱</label>
                                <span id="mail_show">{{ user.mail }}</span><a class="alter-mail">{{ a.mail }}</a>
                            <input v-model="user.nmail" id="email" type="email" placeholder="请输入邮箱" style="display: none">
                        </div>
                        <div class="pure-control-group txt-line">
                            <label for="foo">您的学校</label>
                            <span id="school_show">{{ user.school }}</span><a class="alter-sch">{{ a.school }}</a>
                            <input v-model="user.nschool" id="foo" type="text" placeholder="请输入学校名" style="display: none">
                        </div>
                        <div class="pure-controls">
                            <button v-on="click: updateTxt()" class="pure-button pure-button-warning" style="margin-left: 4px;">提交
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="user-article nav-cont" id="user_article">
                <div class="article-line" v-repeat="article: articles">
                    <i class="fa fa-book fa-2x">&nbsp;</i><a href="/article/3">{{ article.name }}</a><a
                        class="update-article">修改</a>
                </div>
            </div>
            <div class="user-pwd nav-cont" id="update_pwd">
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group txt-line">
                            <label for="email">旧密码</label>
                            <input placeholder="请输入旧密码" id="old_pwd" v-model="user.opwd">
                        </div>
                        <div class="pure-control-group txt-line">
                            <label for="foo">新密码</label>
                            <input type="text" placeholder="请输入新密码" id="new_pwd" v-model="user.npwd1">
                        </div>
                        <div class="pure-control-group txt-line">
                            <label for="foo">重复密码</label>
                            <input type="text" placeholder="请重复新密码" id="new_pwd" v-model="user.npwd2">
                        </div>
                        <div class="pure-controls">
                            <a class="pure-button pure-button-warning" style="margin-left: 4px;"
                               v-on="click: updatePwd()">提交
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>