<header class="layout-header">
    <div class="pure-g">
        <div class="pure-u-1-2 main-logo"><h1>LUUKEr</h1></div>
        <div class="pure-u-1-4">


            <form class="pure-form">
                <input type="email" placeholder="想去哪儿">
                <button type="submit" class="pure-button">Go</button>
            </form>
        </div>
        <div class="pure-u-1-8"></div>
        <div class="pure-u-1-8"><a class="sign-up">注册</a><a class="login">登陆</a></div>
    </div>
</header>

<div class="max-mask" style="display: none">
    <div class="login-container" style="display: none">
        <div class="login-header">
            <div class="login-logo">
                <img src="">
            </div>
            <div class="login-exit">
            </div>
        </div>
        <div class="login-body clearfix">
            <ul class="login-method clearfix">
                <li class="login-weibo"></li>
                <li class="login-qq"></li>
                <li class="login-wechat"></li>
            </ul>
            <h3>或</h3>
            <div class="login-box">
                <input class="login-email">
                <input class="login-pwd">
            </div>
            <div class="login-confirm">
                <a href="javascript:;">登 陆</a>
            </div>
            <div class="login-footer">
                还不是luuker? 欢迎<a class="go-regist">注册</a>
            </div>
        </div>
    </div>
    <div class="register-container" style="display: none">
        <div class="login-header">
            <div class="login-logo">
                <img src="">
            </div>
            <div class="login-exit">
            </div>
        </div>
        <div class="login-body clearfix">
            <ul class="login-method clearfix">
                <li class="login-weibo"></li>
                <li class="login-qq"></li>
                <li class="login-wechat"></li>
            </ul>
            <h3>或</h3>
            <div class="login-box">
                <input class="join-email">
                <input class="join-pwd">
            </div>
            <div class="join-confirm">
                <a href="javascript:;">注 册</a>
            </div>
            <div class="login-footer">
                已是luuker? 直接<a class="go-login">登陆</a>
            </div>
        </div>
    </div>
</div>