<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="/backstage/article_go">游记管理<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">网站运营<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/backstage/editor">首页管理</a></li>
                            <li><a href="#">目的地管理</a></li>
                        </ul>
                    </li>
                </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=user.name%><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li  data-toggle="modal" data-target="#update_pwd"><a>修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="/backstage/sign_out">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="update_pwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">&nbsp;{{ user.pwd_new_1 }}</label>
                    <input  class="form-control mid-input" placeholder="old password" v-model="user.pwd_old">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">&nbsp;</label>
                    <input type="password"  class="form-control mid-input" placeholder="new password" v-model="user.pwd_new_1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">&nbsp;</label>
                    <input type="password"  class="form-control mid-input" placeholder="repeat new password" v-model="user.pwd_new_2">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="go_update" v-on="click: goUpdate()">Save changes</button>
            </div>
        </div>
    </div>
</div>