body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
    background-color: #ebebeb;
}

#header a:hover{
    text-decoration: none;
    color: #fff;
}

#header a{
    color: #fff;
    cursor: pointer;
}

a{
    cursor: pointer;
    text-decoration: none;
}

input,button,select,textarea{outline:none}



#header{
    position: absolute;
    top:20px;
    width: 100%;
    display: table;
}

.header-slogan{
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 18px;
    left: 8px;
    display: block;
    float: left;

}

.header-nav{
    float: right;
    margin-right: 20px;
    line-height: 30px;
}

.header-nav li {
    float:left;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}


.header-logo{
    width: 120px;
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 32px;
    line-height: 34px;
    font-weight: bolder;
}



.banner{
    position: absolute;
    z-index: -1;
    height:550px;
    overflow: hidden;
}

.banner img{
    width: 1276px;
    height: 550px;
}

#main-text{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 200px;

}

.main-area{
    position: relative;
    top:120px;
    left: 50px;
    float:left;
    width: 500px;
}

#main-search{

    height: 40px;
    width: 350px;
    background-color: #fff;
    border-radius: 3px;
    margin-top:70px;



}

#main-search input{
    border: none;
    height: 38px;
    width: 300px;
    margin: 1px 10px;
    color: #3c3c3c;
    position: absolute;

}

.search-btn{
    background-color: #aaa;
    width: 50px;
    height: 40px;
    display: block;
    position: relative;
    left: 320px;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}
.main{
    height:550px;
}

.mid-tit{
    text-align: center;
    font-size: 35px;
    line-height: 80px;
}

.image-nav{
    width: 60px;
    height:60px;
    overflow: hidden;
    background: url("/images/1.jpg");
    background-size: 60px 60px;
    border-radius: 50%;
    float: left;
    margin-right:20px;
}

.search-area{
    float:left;
    margin-top:100px;
}

.search-cover{
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    top:350px;
}


.mid-header h2{
    font-size: 28px;
    text-align: center;
    line-height: 100px;
}

.hot-text .hot-item{
    float:left;
    margin-left: 20px;
    position: relative;
}
.hot-text .hot-item img{
    border-radius: 5px;
    width: 270px;
}


.hot-text{
    margin-left: -20px;
    min-width: 1161px;
}

.rec-article-item{
    float: left;
    width: 348px;
    height:370px;
    position: relative;
    margin:0 32px 32px 0;
    cursor: pointer;
}
.rec-article-item img{
    width: 100%;
    height:370px;
    border-radius: 5px;

}

.rec-article-item.big{
    width: 728px;
}

.login-container,.register-container{
    width: 340px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    border-radius: 3px;

}

.login-header{
    height: 30px;
    width: 100%;
    border-bottom: 1px dashed #aaa;
}

.login-logo{
    width: 80px;
    height: 40px;
    background-color: #fff;
    margin-top: 8px;
    float: left;
}

.login-exit{
    width: 40px;
    height: 40px;
    background: url("/images/chahao.png");
    background-size: 100%;
    position: absolute;
    right: -11px;
    top: -11px;
    cursor: pointer;
}

.login-exit:hover{
    -webkit-animation:rotate 1s infinite linear;
}

@-webkit-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(90deg);}

}

.login-body{
    margin-top: 50px;
}

.login-method{
    margin:0 30px;
    height: 120px;
    border-bottom: 1px solid #aaa;
}
.login-weibo, .login-qq, .login-wechat{
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    float: left;
    margin-left: 22px;
}

.login-body h3{
    margin:0 auto;
    width: 20px;
    height: 16px;
    margin-top: -8px;
    background-color: #fff;
    text-align: center;
}



.login-box input{
    width: 242px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 40px;
    color: #444;
}
.login-box{
    text-align: center;
}


.login-email,.join-email{
    background: url("/images/icon.png") no-repeat;
    background-position: right -22px;
    background-size: 13%;
}

.login-pwd,.join-pwd{
    background: url("/images/icon.png") no-repeat;
    background-position: right -53px;
    background-size: 13%;
}

.login-confirm,.join-confirm{

    background-color: #ccc;
    width: 242px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    margin: 30px auto;
    cursor: pointer;
}

.login-confirm,.join-confirm a{
    color: #fff;
}

.login-footer{
    font-size: 12px;
    color: #666;
    float:right;
}


.max-mask{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.login-confirm a, .join-confirm a{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

.go-login, .go-regist{
    color: #0078e7;
}

.sm-cover{
    background-color: rgba(0,0,0,0.4);
    height: 80px;
    width: 100%;
    position: relative;
    top: -82px;
    border-radius: 5px;
}

.sm-cover .rec-head img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: -20px;
}

.sm-cover .rec-head h3{
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: -20px;
}

.hot-sm-cover{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 200px;
    line-height: 70px;
}

.hot-sm-cover h3{
    color: #fff;
    font-weight: bolder;
    margin-left: 20px;
}


