body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
    background-color: #ebebeb;
}

#header a:hover{
    text-decoration: none;
    color: #fff;
}

#header a{
    color: #fff;
    cursor: pointer;
}

a{
    cursor: pointer;
}

input,button,select,textarea{outline:none}



#header{
    position: absolute;
    top:20px;
    width: 100%;
    display: table;
}

.header-slogan{
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 18px;
    left: 8px;
    display: block;
    float: left;

}

.header-nav{
    float: right;
    margin-right: 20px;
    line-height: 30px;
}

.header-nav li {
    float:left;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}




.header-logo{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMwAAABACAMAAABhjmhjAAAAaVBMVEUAAAD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8G612AAAAInRSTlMA9sju%2Ffv5AgEFDxiE2G8IOVuzRZB5oSKZqrspME7m4GfArKazTwAACkJJREFUaN7UmImS2jAMhp3TcQ5yZwm5WL%2F%2FQ%2FaXjOsyIVOgnZ1B0xYnsmR9%2FrWuWfHQpBRiPg1%2B4Y99hbEUn2syEVm3amPeWH0yTZKIqtA6jjX%2B8bQO6s%2BlSaRogxtKqHUEnOvH0kgxbRoEW1cvde5rjKOFWu8DDRI0GrKMEz9mHdEUmVDiA02KGr2lx1IIpRT0yDXY8o9sNClSX8ckRUnVJ2Aa8RzMnyiNFCcNqwVEYSvFvKLRzuLzaJTICgjRuK7iRou0V%2F1DnyVSHRwgUpE9f7i4GPmMMD10iVohE8f3VUCa4X1ppAF6AOkGr1vypDAjCnBBBjCuAPguSzal%2BNyXI7MvsvKlfCYmPfAe1%2B0IPSZ8jyXriq3oy124EmkTFNu6Yb3nsyVDsG3b8bVk31Fy33th%2B440XLEm6yDEgz4gW16BkReOOWH8l0tZrkPtOWH%2BXRpEXKF1FNNmqB2Mr71Ye%2B1LyjQ6jiOGeUKYM6btzut3pVEiGXWM4Ij%2F493DxKGOXoUJw50yB8IEpoP3q%2BoGGr8OIxlG%2FyzMsTBwsTT6DWmQqtchtZmu8fAzME6YWcijS06TvCMNtoisSYX6GRgnTIdJh7ec5XVpsEfzxYuCIUOS%2FwtzUIq7trgbZSKlUjJ5URrEcBzFsxFNWS0zXPjDBh%2FPKh0MQhT9ddndXOvawTjHXpjpT2Ekz6FU8oUDTcn9SCS764e8OR2M2sXZYHdxw%2BgOxq2ldvI5YSjFfYUsTQF%2Fc9CprsY0m%2Be%2F3zUEz3IweDHNU6ZszQ7GuljrOxisNc1zVnKJB0eZMlVlS98N57z%2BMqSJkSY6lIYDVZtfiiDY%2FHwWU5%2F3fb4gdKFBXglR1jTqU9EOmBXkFqYSy1CswVqMp8msLoXiuTVibq5rhvwO5iqqzl%2BDoGiQmQLuT1ASpmIWoPSFNrZ1lP8JafC6aiJ9s6Du%2BHOAY%2BRRLygD2SnnD%2BRKGca7dtra2mWMIkqfV19Gba2oCdTC9L1nHd4ww%2FNYGLxuKVMchVEcIT8lsdLEkOaIhdJHbHEInDDEBzImA6Wivki%2FaRQHmBbHsR4YBsWstJiNK1quubzgnQ4wF1PJhcVzLq%2FRyBYiJjJmS3wkDE6fJdCR5Y4x6DHDSjO6sN3PHC0fYmkuVYfYQAvDTU61YwI8Hl6EFoZecL2IZoBFJAow7AI2zeXEVEhCyrD%2BDMlegFJ2eX%2BVHIwwVYCxDpquz8dN0xjgCSBP5hqqHrJANyS1fUaq6N8w0R8wtKOuzSiGq2GLuOa1EiVg7ubSg0e7bWFCGxPiie8XiSvFCoN%2BvZCzqbjmqYuQZPtiD4gjIt4dAQnvgGFZL8O5oSY4gqEWvHR9P%2FY3GFKwGM%2BDj21jmksqGIbnek3e502sI3tZBQwpZmK%2B0YdMU3w5YXwnTE3uM1DMwdWHmJrTg%2BvFnTD2bqyDfC6RZu48HT6GwbBpS4oyR7MmlGuW4LkdsTTVdjUw5PrmufKKzsfc71SoxlCu%2FaQQU3XgpLDOfefAk9cyixgx9lNRKnSWRKYzkviZkWbT5md6LwyKR9zW2nf1qsM9DI%2BGkmKQw8J8TzaqR5mm5tTANKnJLzqGKSZRAgaZi%2Br3SsyJ7rFfBkmYUdpeCu9%2B1YQG4i9sBJo%2F%2Bh0aO5jFqxFgbirizPo%2FglmEMhvFMPxCltJEdQwTtAwD1xUunloBjduivB3NQtiYk%2BnU%2BnYVrCnFr2atdm1NGIYiIBTBAQoqIl%2B9%2F4tcctqSVTYft%2F2hP9630AZ6TJqcpAwIe1h71ItvYId6hAuge%2FeRZjbc98Fk5ufqaL671fwRTA21CNFMVjpTBvcJU1qYmeOTIFs0AOsBGKBURgYen3eGXe6TFHMpDZhrQjZ8cmCs3dFDRTVT76vGqvOI2qFjId%2BDEVrBL%2BDJvLBscVKpi4MCRgagixY%2BbTEXA3s4WgikBgITemBuFgxOCCIEL5%2FT4HackBH8M5hfUzlUIdV3YDBWxzx3Qp9s5AA%2FETgzmyT5wPDRHtFgIyb2UGALZnz9LxhsgL8GM8ChReZsKTbVZbuuUdsCjcTTGGkZJr8i8Kx0V5rRPHekLpvRgQ0rW7OwmBSh1qnXSK8eLLWzoZrtnpn%2FE0xmbPrrPSPpPvaMCRGS6yj2qeyW5LqwwcpFlETLqtHAGnjfijdL%2F8mbqYzsQrzZRzCzS%2FFKfiy8Gc98%2FHo0psAATFlDYhAYgJSO7A7bxpmktukuDT6%2BBqOZWTopiTOfwCDOOJnWxhnfP4nJ8OrVapDy2zFY8X1oTl9AMw4Sl%2BkNX4BhubB3DyocA%2FgEBiFNuMZ80EcTMDaRQyEKO38GKm5jEDe5kwka4Wb0tuZ1okl9w4v8DgyvbM4pip2GC7gZ5pafwIAFtvcsUKfqBnZquFk%2B%2BTEdKQBUo5Q1OmgQ45YvOCLnkzPLmqOw65aIX%2FclGGhwunSXs2aRGIr5DMY8e3x2lxAvtYoR7h94URL%2BC6%2Fzd4jbRXJUID6V7B8LQ0u%2BByNJS8xYQMA%2BOwDkM54M8pky3KQoiCXI9jOUbEQxEtgSPTFYD03Dq4pNo3SL3ZufNsPtJG9gDjyLJ5iWxJJpUiLpgSHZiMEgof9VxhgmAia297bqpGcwZtkxXr2AXvMrQgBvTdZIjaFEohnuGDDoeWCOmGrFWEPnwdUAICVgWAeiGX78KhPN67LDEgJ%2BDET2mi%2BERYxQlMAZA1uhj%2Bb6NLrH49fqjJLqTKi1D%2BYMi6wfepV73APlqjMemAnXV0aJxxUH%2Ff6t0vONN4r75ewVGmrfSxg8HFOeuuHOQTY8wimKxrCpgr5oiqLhulndFNTjutmM3gtgwDZmntOWQd2hOPYseFkKYXiVUmbqD55a3GkAnZyKbyQTTUtzdce%2FnKwP%2FqpWPhmHZGQEyRt2ycVGYbYOeuqrir2zEle%2F6cmYtLyqqjuorgxJR65TryxaVX0pVdDfJ%2FWprT3A2DajsHUkc9uyuRSG01QpBZXTX2rS84wAk1a51CW4IuVfi4yCjJTDAUaoix83RvJNICjugb5zdgrdSGbUgEHWsulJc9cQg5xp27lqvV7%2Fv8scYol%2Ffg18hgvffGbiNi6J7e4DlLOlwNsfv9MxaSbs38ryawI37u%2FbIMv31ftOLjtLecK7HBhItAcZ3B2YWsfbQMJ6AeUBmhff2J49N%2Fv7BC2fLHPxot990TElOTUzB5TlMyXDINp73DKouJqzgpRZssLx33BGeeIa3EMuakdcvFrHSZsJSoa7U0xgyv%2B6yeBVkYnmzYE5HT7PyaEi3b0CGZ8P4Dg7VAxRzYTRLENpbvTtWfON8IVodOpwNTaVrQlUN9wgZe3ve1oummN1x7D5Uc%2FFZdRGFzmO3IhM4gwJpxAzjT8jnr3H3W%2FR1AdJdUBhaJeklnxm2EFItWzjVKXY6xebhKZa2Au7vE0nt5fxXxZNXkQyjpPSvWIBmtMcrqqZHhUw2AYN9cV5Vc25zfdpY%2FIxQlm1t2e4dMWQ447POvlUi8eft2Jger9PLD8BMvVdkzaDGkIAAAAASUVORK5CYII%3D") no-repeat;
    background-size: 120px 40px;
    width: 120px;
    height: 40px;
    display: block;
    float: left;
    margin-left: 20px;

}



.banner{
    position: absolute;
    z-index: -1;
    height:550px;
    overflow: hidden;
}

.banner img{
    width: 1276px;
    height: 550px;
}

#main-text{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 200px;

}

.main-area{
    position: relative;
    top:120px;
    left: 50px;
    float:left;
    width: 500px;
}

#main-search{

    height: 40px;
    width: 350px;
    background-color: #fff;
    border-radius: 3px;
    margin-top:70px;



}

#main-search input{
    border: none;
    height: 38px;
    width: 300px;
    margin: 1px 10px;
    color: #3c3c3c;

}

.main{
    height:550px;
}

.mid-tit{
    text-align: center;
    font-size: 35px;
    line-height: 80px;
}

.image-nav{
    width: 60px;
    height:60px;
    overflow: hidden;
    background: url("/views/images/1.jpg");
    background-size: 60px 60px;
    border-radius: 50%;
    float: left;
    margin-right:20px;
}

.search-area{
    float:left;
    margin-top:100px;
}

.search-cover{
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    top:350px;
}


.mid-header h2{
    font-size: 28px;
    text-align: center;
    line-height: 100px;
}

.hot-text .hot-item{
    float:left;

    margin-left: 20px;
}
.hot-text .hot-item img{
    border-radius: 5px;
    width: 270px;
}


.hot-text{
    margin-left: -20px;
    min-width: 1160px;
}


.top-left{
    width: 744px;
    height:400px;
    background-color: #aaa;
    float: left;
    margin-right: 48px;
    border-radius: 5px;
}

.top-left img{
    width: 744px;
    height:400px;
}

.top-right{
    width: 348px;
    height:400px;
    background-color: #ccc;
    float:left;
    border-radius: 5px;
}

.top-right img{
    width: 348px;
    height:400px;
}

.bottom-item{
    margin-top:30px;
}

.bottom-left,.bottom-mid,.bottom-right{
    width:348px;
    height:400px;
    background-color: #555;
    float: left;
    border-radius: 5px;
}

.bottom-right img{
    width:348px;
    height:400px;
}

.bottom-mid img{
    width:348px;
    height:400px;
}

.bottom-left img{
    width:348px;
    height:400px;
}

.bottom-left,.bottom-mid{
    margin-right: 48px;
}

.login-container,.register-container{
    width: 340px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    border-radius: 3px;

}

.login-header{
    height: 30px;
    width: 100%;
    border-bottom: 1px dashed #aaa;
}

.login-logo{
    width: 80px;
    height: 40px;
    background-color: #fff;
    margin-top: 8px;
    float: left;
}

.login-exit{
    width: 40px;
    height: 40px;
    background: url("/images/chahao.png");
    background-size: 100%;
    position: absolute;
    right: -11px;
    top: -11px;
    cursor: pointer;
}

.login-exit:hover{
    -webkit-animation:rotate 1s infinite linear;
}

@-webkit-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(90deg);}

}

.login-body{
    margin-top: 50px;
}

.login-method{
    margin:0 30px;
    height: 120px;
    border-bottom: 1px solid #aaa;
}
.login-weibo, .login-qq, .login-wechat{
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    float: left;
    margin-left: 22px;
}

.login-body h3{
    margin:0 auto;
    width: 20px;
    height: 16px;
    margin-top: -8px;
    background-color: #fff;
    text-align: center;
}



.login-box input{
    width: 242px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 40px;
    color: #444;
}
.login-box{
    text-align: center;
}


.login-email,.join-email{
    background: url("/images/icon.png") no-repeat;
    background-position: right -22px;
    background-size: 13%;
}

.login-pwd,.join-pwd{
    background: url("/images/icon.png") no-repeat;
    background-position: right -53px;
    background-size: 13%;
}

.login-confirm,.join-confirm{

    background-color: #ccc;
    width: 242px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    margin: 30px auto;
    cursor: pointer;
}

.login-confirm,.join-confirm a{
    color: #fff;
}

.login-footer{
    font-size: 12px;
    color: #666;
    float:right;
}


.max-mask{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.login-confirm a, .join-confirm a{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

.go-login, .go-regist{
    color: #0078e7;
}


