<header id="header">
    <a href="/" class="header-logo"></a>
    <a class="header-slogan">10分钟创作属于你自己的游记</a>
    <ul class="header-nav">
        <li class="sign-up"><a>注册</a></li>
        <li class="login"><a>登陆</a></li>
        <li class="username"></li>
        <li class="exit"></li>
    </ul>
</header>
<div class="main clearfix">
    <ul id="scroll">
        <li class="active"><img
                src="https://a0.muscache.com/airbnb/static/landing_pages/pretzel/slideshow/hero4-3862c8fa8ac2925dd1ce76a9bc6c4962.jpg">
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <h1 id="main-text">你好，我是baymax。</h1>
    <div class="search-cover"></div>

    <div class="main-area">


        <div class="search-area">
            <div class="image-nav"></div>
            <div class="image-nav"></div>
            <div class="image-nav"></div>
            <div id="main-search">
                <input>
            </div>

        </div>


    </div>

</div>
<div id="middle">
    <div class="mid-header">
        <div class="container">
            <h2>出门看世界</h2>
        </div>
    </div>
    <div class="container">
        <div class="top-item clearfix">
            <div class="top-left"></div>
            <div class="top-right"></div>
        </div>
        <div class="bottom-item">
            <div class="bottom-left"></div>
            <div class="bottom-mid"></div>
            <div class="bottom-right"></div>
        </div>

    </div>
</div>
<div class="middle">
    <div class="mid-header">
        <div class="container">
            <h2>出门看世界</h2>
        </div>
    </div>
    <div class="container">
        <ul class="hot-text clearfix">
            <li><img
                    src="https://a0.muscache.com/ic/discover/377?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px">
            </li>
            <li><img
                    src="https://a0.muscache.com/ic/discover/377?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px">
            </li>
            <li><img
                    src="https://a0.muscache.com/ic/discover/377?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px">
            </li>
            <li><img
                    src="https://a0.muscache.com/ic/discover/377?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=326px:326px">
            </li>
        </ul>
    </div>

</div>
<div class="max-mask" style="display: none">
    <div class="login-container" style="display: none">
        <div class="login-header">
            <div class="login-logo">
                <img src="">
            </div>
            <div class="login-exit">

            </div>
        </div>
        <div class="login-body clearfix">
            <ul class="login-method clearfix">
                <li class="login-weibo"></li>
                <li class="login-qq"></li>
                <li class="login-wechat"></li>
            </ul>
            <h3>或</h3>
            <div class="login-box">
                <input class="login-email">
                <input class="login-pwd">
            </div>
            <div class="login-confirm">
                <a href="javascript:;">登 陆</a>
            </div>
            <div class="login-footer">
                还不是luuker? 欢迎<a class="go-regist">注册</a>
            </div>
        </div>
    </div>
    <div class="register-container" style="display: none">
        <div class="login-header">
            <div class="login-logo">
                <img src="">
            </div>
            <div class="login-exit">

            </div>
        </div>
        <div class="login-body clearfix">
            <ul class="login-method clearfix">
                <li class="login-weibo"></li>
                <li class="login-qq"></li>
                <li class="login-wechat"></li>
            </ul>
            <h3>或</h3>
            <div class="login-box">
                <input class="join-email">
                <input class="join-pwd">
            </div>
            <div class="join-confirm">
                <a href="javascript:;">注 册</a>
            </div>
            <div class="login-footer">
                已是luuker? 直接<a class="go-login">登陆</a>
            </div>
        </div>

    </div>
</div>
