a{
    color: #333;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: #333;
}

#change_img img{
    width:500px;
}

.edit-row{
    margin:20px 0;
    line-height: 34px;
}

.mg-head-img, .mg-article{
    margin-bottom: 40px;
}

.article-item-row{
    margin-bottom: 34px;
    line-height: 34px;
}

.mg-article-left{
    width: 512px;
    float:left;
}
.mg-article-right{
    float: left;
    width: 564px;
    margin-left: 20px;
}

.sm-article-item{
    float: left;
    width: 160px;
    height: 150px;
    margin: 0 10px 10px 0;
}

.sm-article-item.big{
    width: 330px;
}

.sm-article-item img{
    width: 100%;
    height: 150px;
}

.col-md-8{
    text-align: center;
}

.article-input{
    width: 300px;
    float: left;
}

.city-row{
    width: 500px;
}

.city-row input{
    margin:15px 0;
}

.article-row{
    margin-left: 30px;
    line-height: 40px;
}

