<div class="container page">
    <div class="mg-head-img">
        <div class="row">
            <div class="col-md-4 tit-mid" >首页头图管理</div>
        </div>
        <div class="row">
            <div class="col-md-6"><img src=""></div>
        </div>
    </div>

</div>
