<div class="des-page" id="page_des">
    <div class="des-header">
        <img v-attr="src: the_des.img">
        <div class="header-main">
            <span class="chn-name">{{ the_des.chname }}</span>
            <span class="eng-name">{{ the_des.egname }}</span>
        </div>
    </div>
    <div class="des-content wrap">
        <div class="des-intro">
            <p>{{ the_des.intro }}</p>
        </div>
        <div class="des-book-box clearfix">
            <div class="det-social f_l">
                <img v-attr="src: the_des.book">
            </div>
            <div class="des-book f_l">
                <h2>相关游记</h2>
                <div class="city-article-row" v-repeat="city_article : city_articles">
                    <div class="article-list">
                        <img v-attr="src: city_article.img">
                        <a v-attr="href: '/article/' + city_article.article_id">{{ city_article.name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="des-footer">
        <div class="nav-header clearfix">
            <div class="nav active" id="nav_food">美食</div>
            <div class="nav" id="nav_sight">风景</div>
            <div class="nav" id="nav_culture">名校</div>
            <div class="nav" id="nav_school">文化</div>
        </div>

        <div class="nav-cont wrap active" id="des_food" >
            <div class="pure-g des-row" v-repeat="city_food : city_food">
                <div class="cont-item pure-u-1-2"><img sv-attr="src: city_food.img"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>{{ city_food.title }}</h2>
                    <p>{{ city_food.txt }}</p>
                </div>
            </div>
        </div>

        <div class="nav-cont wrap" id="des_sight" >
            <div class="pure-g des-row" v-repeat="city_sight : city_sight">
                <div class="cont-item pure-u-1-2"><img src="http://m2.quanjing.com/2m/alamyrf001/axr3d5.jpg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>{{ city_sight.title }}</h2>
                    <p>{{ city_sight.txt }}</p>
                </div>
            </div>
        </div>

        <div class="nav-cont wrap" id="des_school">
            <div class="pure-g des-row" v-repeat="city_school : city_school">
                <div class="cont-item pure-u-1-2"><img src="http://www.cnjpetr.org/uploads/allimg/120316/529-1203161II2.jpg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>{{ city_school.title }}</h2>
                    <p>{{ city_school.txt }}</p>
                </div>
            </div>
        </div>

        <div class="nav-cont wrap" id="des_culture">
            <div class="pure-g des-row" v-repeat="city_culture : city_culture">
                <div class="cont-item pure-u-1-2"><img src="http://i1.w.hjfile.cn/doc/201107/0899628.jpg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>{{ city_culture.title }}</h2>
                    <p>{{ city_culture.txt }}</p>
                </div>
            </div>
        </div>

    </div>
</div>