<div class="des-page" id="page_des">
    <div class="des-header">
        <img v-attr="src: the_des.img">
        <div class="header-main">
            <span class="chn-name">{{ the_des.chname }}</span>
            <span class="eng-name">{{ the_des.egname }}</span>
        </div>
    </div>
    <div class="des-content wrap">
        <div class="des-intro">
            <p>{{ the_des.intro }}</p>
        </div>
        <div class="des-book-box clearfix">
            <div class="det-social f_l">
                <img v-attr="src: the_des.book">
            </div>
            <div class="des-book f_l">
                <h2>相关游记</h2>
                <div class="city-article-row" v-repeat="city_article : city_articles">
                    <i class="fa fa-bicycle">&nbsp;&nbsp;&nbsp;</i><a>{{ city_article.name }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="des-footer">
        <div class="nav-header clearfix">
            <div class="nav active" id="nav_food">美食</div>
            <div class="nav" id="nav_sight">风景</div>
            <div class="nav" id="nav_culture">名校</div>
            <div class="nav" id="nav_school">文化</div>
        </div>

        <div class="nav-cont wrap active" id="des_food">
            <div class="pure-g des-row">
                <div class="cont-item pure-u-1-2"><img src="http://file25.mafengwo.net/M00/61/EC/wKgB4lM73qyANFrlAAEJ7QA3i3Q75.gonglve.w670.jpeg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>寿司</h2>
                    <p>寿司可谓是日本的国菜，市面上各种档次、不同风味的寿司店一应俱全。因为全国靠海，原料新鲜丰富，日本的普通连锁的回转寿司餐厅和中国比较价格也不算昂贵，食材普遍很新鲜。
                        高级的手握寿司专门店，一般都会以“鮨”字作为招牌，提供市面上难得一见的顶级鱼生，厨师的技艺、环境和气氛更是把用餐变成了一种精神享受，其中不乏获得米其林三星评价的名店，预算足够的话也很值得尝试。</p>
                </div>
            </div>
        </div>

        <div class="nav-cont wrap" id="des_sight" >
            <div class="pure-g des-row">
                <div class="cont-item pure-u-1-2"><img src="http://m2.quanjing.com/2m/alamyrf001/axr3d5.jpg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>富士山</h2>
                    <p>富士山矗立在东京西部，是世界上最大的活火山之一，也是日本的象征。厢根是最理想的观看富士山的地方，天气晴朗的日子，尤其是冬季，从很远的地方就能看到富士山。这座日本最高的山峰（海拔3775.63米）上覆盖着皑皑白雪，就像明信片上的风景画一样迷人。天气不好的时候，需要离很近才看得到。攀登富士山也是个不错的选择，山上的风景更为迷人，登山时要注意防寒保暖，山上的温度会比山底低许多，有精力的话还可以到富士北部山麓上的富士五湖（山中湖、河口湖、西湖、精进湖和本栖湖）。如果初次攀登可以咨询富士火车站旁的富士吉田信息中心。</p>
                </div>
            </div>
        </div>

        <div class="nav-cont wrap" id="des_school">
            <div class="pure-g des-row">
                <div class="cont-item pure-u-1-2"><img src="http://www.cnjpetr.org/uploads/allimg/120316/529-1203161II2.jpg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>东京大学</h2>
                    <p>东京大学（The University of Tokyo），简称东大，是一所本部位于日本东京都文京区的世界级著名研究型国立综合大学。作为日本最高学术殿堂和帝国大学之首，其在全球享有极高的声誉。东大诞生于1877年，初设法学、理学、文学、医学四个学部，是日本第一所国立大学，也是亚洲最早的西制大学之一。学校于1886年被更名为“帝国大学”，这也是日本建立的第一所帝国大学。1897年，易名“东京帝国大学”，以区分同年在京都创立的京都帝国大学。二战后的1947年9月，其正式定名为“东京大学”。</p>
                </div>
            </div>
        </div>

        <div class="nav-cont wrap" id="des_culture">
            <div class="pure-g des-row">
                <div class="cont-item pure-u-1-2"><img src="http://i1.w.hjfile.cn/doc/201107/0899628.jpg"></div>
                <div class="cont-item item-txt pure-u-1-2">
                    <h2>武士道</h2>
                    <p>武士道起源于古代的日本，是以为主君不怕死、不惜命的觉悟为根本，为实现个人于集体、团体的价值，尽可能的发挥自己的能力，强调“毫不留念的死，毫不顾忌的死，毫不犹豫的死”的为主君毫无保留的献身取义、舍己成仁的武士精神。</p>
                </div>
            </div>
        </div>

    </div>
</div>