<div class="des-main">
    <div class="des-main-name">
        <span class="chn-name">日本</span>
        <span class="eng-name">Japan</span>
    </div>
</div>
<div class="container">
    <div class="des-intro">
        <p>日本（Japan），全称日本国，位于亚洲东部、太平洋西北部，是一个高度发达的资本主义国家。其国名取“日出之国”之意，领土由本州、四国、九州、北海道四大岛及7200多个小岛组成，总面积37.8万平方千米。日本以大和民族为主体民族，通用日语，总人口为1.26亿。</p>
    </div>
    <div class="des-book-box clearfix">
        <div class="det-social f_l">

        </div>
        <div class="des-book f_l">

        </div>
    </div>
</div>
<div class="des-nav-header">
    <div class="des-nav clearfix">
        <div>美食</div>
        <div class="des-nav-active">风景</div>
        <div>文化</div>
        <div>名校</div>
    </div>
</div>
<div class="container">
    <div class="des-nav-tit">
        <span>人气小吃排行</span>
    </div>
    <div class="des-food-box clearfix">
        <div class="des-food-ranking f_l">

        </div>
        <div class="des-food-cir f_l">

        </div>
    </div>
</div>