<div class="container page" id="city_editor">
    <!--------------添加目的地--------------->
    <div class="mg-city">
        <div class="row edit-row">
            <div class="col-md-4 tit-mid">添加目的地</div>
        </div>
        <div class="row city-row">
            <input type="text" class="form-control" placeholder="输入目的地中文名" v-model="city.chname">
            <input type="text" class="form-control" placeholder="输入目的地英文名" v-model="city.egname">
            <input type="text" class="form-control" placeholder="输入目的地头图地址" v-model="city.img">
            <input type="text" class="form-control" placeholder="输入目的地段介绍" v-model="city.intro">
            <input type="text" class="form-control" placeholder="输入官方攻略封面地址" v-model="city.book">
            <button type="button" class="btn btn-primary" v-on="click: intoCity()">提交</button>
        </div>
    </div>
    <hr style="margin-left: -15px;">
    <div class="mg-city-book">
        <div class="row edit-row">
            <div class="col-md-4 tit-mid">添加目的地官方资讯</div>
        </div>
        <div class="row city-row">
            <div class="city-item-left">
                <input type="text" class="form-control" v-model="city_item.name" placeholder="目的地" style="width:100px;">
                <select class="form-control city-item-edit" v-model="city_item.type">
                    <option selected="selected">选择类型</option>
                    <option>风景</option>
                    <option>美食</option>
                    <option>文化</option>
                    <option>名校</option>
                </select>
                <input type="text" class="form-control" placeholder="标题" v-model="city_item.title" style="width:200px;">
                <textarea class="item-edit-txt" v-model="city_item.txt"></textarea>
                <button class="f_l" v-on="click: doUploadItem()" style="  position: absolute;left: 600px;top: 540px;">
                    上传附图
                </button>
                <input type="file" id="item_img" style="display: none;" v-on="change: onItemSelected()">

                <div class="item-img-show">
                    <img v-attr="src: city_item.img">
                </div>
                <button type="button" class="btn btn-primary" v-on="click: intoCityItem()">提交</button>
            </div>
            <!--<div class="city-item-right">-->
                <!--<div>-->
                    <!--<img>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <hr>
    <div>
        <div class="row edit-row">
            <div class="col-md-4 tit-mid">添加目的地官方攻略</div>
        </div>
        <a href="/backstage/add_guide">添加官方攻略</a>
    </div>
</div>