.page-article { padding: 0 0 70px; }
.page-article .article-panel-wrap {}
.page-article .article-panel          { padding : 0 0 50px; background-color : #fff; position: relative;}
.page-article .article-op             { padding-left : 20px; }
.page-article .article-op > button    { margin-bottom : 10px; width : 100%; }
.page-article .article-header         { position: relative; height: 350px; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.page-article .article-header h1      { position: absolute; bottom: 20px; left: 0; padding: 15px 30px; font-size: 36px; background-color: rgba(0,0,0,0.3); color: #fff; }

.page-article .article-content    { padding: 25px 80px; }
.page-article .unit-p-title       { font-size: 24px; line-height: 30px; border-bottom: 1px solid #ccc; margin: 15px 0; color: #333; padding: 5px 0; }
.page-article .unit-text          { font-size: 14px; line-height: 22px; color: #666; padding: 5px 0; text-indent: 2em; }
.page-article .unit-image         { width: 100%; padding: 5px 0; }

.page-article .comments                 { margin: 60px 0 0 0; }
.page-article .comment                  { margin: 10px 0 0 0; }
.page-article .comment-user             { text-align: center; font-size: 12px; }
.page-article .comment-user img         { width: 40px; height: 40px; border-radius: 50%; }
.page-article .comment-text             { padding: 15px; background-color: #fff; }
.page-article .add-comment              { margin: 10px 0 0 0; }
.page-article .comment-text             { background-color: #fff; padding: 10px; }
.page-article .comment-text textarea    { font-size: 14px; height: 80px; resize: none; }


.writing-user{
    width: 70px;
    height: 70px;
    background-color: #000;
    position: absolute;
    top: 310px;
    left: 610px;
    z-index: 99;
    border-radius: 50%;
}

.writing-user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


