<div class="page-article" id="article">
    <div class="wrap">
        <div class="pure-g">
            <div class="pure-u-4-24"></div>
            <div class="pure-u-16-24 article-panel-wrap">
                <article class="article-panel">
                    <div class="writing-user">
                        <img v-attr="src: article.article.user_img">
                    </div>
                    <div class="article-header" v-style="background-image: 'url(' + article.article.article_img + ')'">
                        <h1 id="article_name">{{ article.article.article_name }}</h1>
                    </div>
                    <div class="article-content">
                        <div class="article-unit" v-repeat="unit: article.article_units">
                            <h3 class="unit-p-title" v-if="unit.type == 'p-title'">{{ unit.value }}</h3>
                            <p class="unit-text" v-if="unit.type == 'text'">{{ unit.value }}</p>
                            <img class="unit-image" v-attr="src: unit.value" v-if="unit.type == 'image'">
                        </div>
                    </div>
                </article>
                <section class="comments">
                    <div class="comment pure-g" v-repeat="comment: article.comments">
                        <div class="comment-user pure-u-1-4">
                            <img v-attr="src: comment.img">
                            <div class="user-name">{{ comment.name }}</div>
                        </div>
                        <div class="comment-text pure-u-3-4">{{ comment.content }}</div>
                    </div>
                    <div class="add-comment pure-g pure-form">
                        <div class="comment-user pure-u-1-4 pt-10">
                            <img src="<%= user.img %>">
                            <div class="user-name"><%= user.name %></div>
                        </div>
                        <div class="pure-u-3-4 comment-text">
                            <textarea class="pure-input-1" placeholder="添加文字"
                                      v-model="add_comment"></textarea>
                            <div class="add-bar clearfix pt-10">
                                <div class="fr">
                                    <button class="pure-button button-success" v-on="click: doAddComment()">评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="pure-u-4-24">
                <div class="article-op">
                </div>
            </div>
        </div>
    </div>
</div>